<div class="header">
<div class="container p-0 pt-2 pb-2">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">
   
    <a class="my-0 mr-md-auto font-weight-normal logo" [routerLink]="['/']">ganny</a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark effectStrikeThrough" [routerLink]="['/pages/',9,'about']">about</a>
      <a class="p-2 text-dark effectStrikeThrough" [routerLink]="['/pages/',79,'services']">what i do</a>
      <a class="p-2 text-dark effectStrikeThrough" [routerLink]="['/portfolio']">my works</a>
      <a class="p-2 text-dark effectStrikeThrough" [routerLink]="['/posts']">blog</a>
    </nav>
    <a class="btn btn-outline-dark" [routerLink]="['/contact']">contact me</a>
  </div>
</div>

</div>
