<footer class="footer">
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-lg-3 col-sm-12 mb-3">
        <a href="/" target="_blank" class="logo" data-bypass="">
        </a>
        <p class="small m-0 ">So Much more than pixcels.</p>
        <p class="small m-0 ">© 2018 GANESAN KARUPPAIYA.</p>
        <p class="small m-0 ">All Rights Reserved</p>
      </div>

      <div class="col-12 col-lg-8 col-sm-12 mb-3">
        <p>I collaborate with ambitious team and people; let’s build something great together.</p>
        <div class="row">

          <div class="col">
            <h6>Start a conversation</h6>
            <p class=" m-0"><a href="mailto:hello@ganny.in" target="_blank" class="effectUnderline" data-bypass="">hello@ganny.in</a>
            </p>
            <p class=" m-0"> <a href="tel:+919943732416" target="_blank" class="effectUnderline" data-bypass="">+91 994 373 2416</a></p>
          </div>

          <div class="col">
            <h6>Other Links</h6>
            <p class=" m-0"><a href="/portfolio" class="effectUnderline" data-bypass="">Portfolio</a></p>
            <p class=" m-0"> <a href="/services" class="effectUnderline" data-bypass="">Services</a></p>
            <p class=" m-0"> <a href="/about" class="effectUnderline" data-bypass="">About</a></p>
            <p class=" m-0"><a href="/contact" class="effectUnderline" data-bypass="">Contact</a></p>


            <ul class="social">
              <li class="twitter"><a href="https://twitter.com/ganesankar" target="_blank" data-bypass="">  </a></li>
              <li class="instagram"><a href="https://www.instagram.com/ganesankars" target="_blank" data-bypass=""> </a></li>
              <li class="facebook"><a href="https://www.facebook.com/ganesankar" target="_blank" data-bypass=""> </a></li>

            </ul>
            <p><a href="" target="_blank" class="secondary-link" data-bypass="">Terms
                &amp; conditions</a> </p>
            <p><a href="" target="_blank" class="secondary-link" data-bypass="">Privacy
                policy</a></p>
          </div>

        </div>

        <div class="row">

          <span class="disclaimer"></span>

        </div>
      </div>

    </div>



  </div>

</footer>
